# Ignore build and log directories
build/
log/
install/

# Ignore everything in src except rove_*
src/*
!src/rove_*

# Ignore Python bytecodes
__pycache__/
*.pyc

# Ignore temp files
*.tmp
*.temp

# Ignore files related to your dev environment
.vscode/

# generated map database by rtabmap
*.db