[Unit]
Description=Robot launch script
After=network.target

[Service]
User=rove
Group=rove
Environment="ROS_LOG_DIR=/media/SSD/stable/log/ros2"
Environment="ROS_DOMAIN_ID=96"
ExecStart=/bin/bash -c 'source /media/SSD/stable/rove/install/setup.bash; ros2 launch rove_launch_handler launch_handler.launch.py;'
ExecStop=sudo ip link set can0 down
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
