<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin
            filename="ignition-gazebo-joint-state-publisher-system"
            name="ignition::gazebo::systems::JointStatePublisher">
            <topic>joint_states</topic>
        </plugin>

        <plugin
            filename="ignition-gazebo-imu-system"
            name="ignition::gazebo::systems::Imu">
        </plugin>


        <plugin name="gz::sim::systems::TrackedVehicle" filename="gz-sim-tracked-vehicle-system">
            <left_track><link>track_l</link></left_track>
            <left_track><link>flipper_fl</link></left_track>
            <left_track><link>flipper_rl</link></left_track>
            <right_track><link>track_r</link></right_track>
            <right_track><link>flipper_fr</link></right_track>
            <right_track><link>flipper_rr</link></right_track>

             <!-- TODO PUT ACTUAL VALUES -->
            <tracks_separation>0.63</tracks_separation>
            <tracks_height>0.18094</tracks_height>
            <steering_efficiency>1</steering_efficiency>

             <topic>cmd_vel</topic>

            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_publisher_frequency>30</odom_publisher_frequency>
            
            <publish_odom_tf>false</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <tf_topic>/tf</tf_topic>
        </plugin>

        <plugin 
            filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>
</robot>
