<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="M_PI" value="3.1415926535897931" />
    
    <xacro:include filename="$(find rove_description)/urdf/velodyne.urdf.xacro" />

    <xacro:velodyne_lidar name="velodyne" parent_link="base_link">

        <origin xyz="0.0 0.0 0.4" rpy="0 0 0" />

    </xacro:velodyne_lidar>

</robot>