<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">    
    <xacro:macro name="track_motor_control" params="suffix nodeid">
        <joint name="track_${suffix}_j">
            <param name="node_id">${nodeid}</param>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            <state_interface name="voltage"/>
            <state_interface name="current"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="track_fake_motor_control" params="suffix">
        <joint name="track_${suffix}_j">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            <state_interface name="voltage"/>
            <state_interface name="current"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="rove_odrive_motor" params="suffix id">
        <xacro:unless value="${(id == -1)}">
            <xacro:track_motor_control suffix="${suffix}" nodeid="${id}"/>
        </xacro:unless>
    </xacro:macro>

    <xacro:macro name="rove_fake_odrive_motor" params="suffix id">
        <xacro:if value="${(id == -1)}">
            <xacro:track_fake_motor_control suffix="${suffix}"/>
        </xacro:if>
    </xacro:macro>

    <xacro:macro name="odrive_control" params="fl_id:=21 rl_id:=22 fr_id:=23 rr_id:=24">
        <ros2_control name="odrive_control" type="system">
            <hardware>
                <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
                <param name="can">can0</param>
            </hardware>
            <xacro:rove_odrive_motor suffix="fl" id="${fl_id}"/>
            <xacro:rove_odrive_motor suffix="rl" id="${rl_id}"/>
            <xacro:rove_odrive_motor suffix="fr" id="${fr_id}"/>
            <xacro:rove_odrive_motor suffix="rr" id="${rr_id}"/>
        </ros2_control>
        
        <ros2_control name="fake_odrive_control" type="system">
            <hardware>
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <xacro:rove_fake_odrive_motor suffix="fl" id="${fl_id}"/>
            <xacro:rove_fake_odrive_motor suffix="rl" id="${rl_id}"/>
            <xacro:rove_fake_odrive_motor suffix="fr" id="${fr_id}"/>
            <xacro:rove_fake_odrive_motor suffix="rr" id="${rr_id}"/>
        </ros2_control>
    </xacro:macro>


</robot>